Repository hello-xone/official_docs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📖, dependencies 📦, config ⚙️, content 🖋️

.github/labeler.yml:

"documentation 📖":
  - README.md
  - pages/**/*

"dependencies 📦":
  - package.json
  - pnpm-lock.yaml

"config ⚙️":
  - i18n.config.json
  - next.config.js
  - next-i18next.config,js
  - next-sitemap.config.js
  - tsconfig.json
  - postcss.config.js
  - .npmrc
  - tailwind.config.js
  - theme.config.tsx
  - tsconfig.json

"content 🖋️":
  - src/**/*
  - components/**/*
  - public/**/*

Create Wrangler
  wrangler.toml
Labels: none

Add Security Audit Report Docs
  components/AuditReport.tsx
  pages/study/_meta.json
  pages/study/audit.mdx
Labels: documentation 📖, content 🖋️

Add Blog June 2025
  components/ContactInfo.tsx
  pages/blog/monthly/data/202505.json
  pages/blog/monthly/june-2025.mdx
  pages/blog/monthly/may-2025.mdx
  public/blog/monthly/june_2025/banner.png
  public/blog/monthly/june_2025/nexus.png
  public/blog/monthly/june_2025/pool.png
  public/blog/monthly/june_2025/release.png
  public/blog/monthly/june_2025/strategic.png
  public/blog/monthly/may_2025/banner.png
  public/blog/monthly/may_2025/developer.png
  public/blog/monthly/may_2025/faucet.png
  public/blog/monthly/may_2025/hard.png
  public/blog/monthly/may_2025/introduction.png
  public/blog/monthly/may_2025/nft.png
  public/blog/monthly/may_2025/nft_info.png
Labels: documentation 📖, content 🖋️

Update bridge token information
  public/tokenMetadata.json
Labels: content 🖋️

Add Bridge USDC Token info
  public/tokenMetadata.json
  public/tokenlogo/usdc.png
Labels: content 🖋️

feat: Adjust the Gateway API page theme
  components/gatewayAPI.tsx
Labels: content 🖋️

fix: add ImageViewer components
  components/ImageViewer/index.tsx
  components/XoneLogo.tsx
  theme.config.tsx
  yarn.lock
Labels: config ⚙️, content 🖋️

fix: add test code
  pages/bvi/readme.mdx
Labels: documentation 📖

fix: build error
  components/GenericMethod/params/RequestResponseJSON.tsx
  components/GenericMethod/snippets/RequestSnippet.tsx
  package.json
  yarn.lock
Labels: dependencies 📦, content 🖋️

fix: test dev
  components/GenericMethod/params/RequestResponseJSON.tsx
  pages/bvi/readme.mdx
Labels: documentation 📖, content 🖋️

feat: Adjust the Gateway API style in bright mode
  components/gatewayAPI.tsx
  styles/globals.css
Labels: content 🖋️

fix: add ignore yarn.lock
  .gitignore
Labels: none

Delete yarn.lock
  yarn.lock
Labels: none

fix: remove test
  pages/bvi/readme.mdx
Labels: documentation 📖

Update dependencies
  package-lock.json
  package.json
Labels: dependencies 📦

feat: update items-center style
  styles/globals.css
Labels: none

feat: update style
  styles/globals.css
Labels: none

feat: update style
  styles/globals.css
Labels: none

feat: update style
  styles/globals.css
Labels: none

fix: test dev
  components/GenericMethod/params/RequestResponseJSON.tsx
  pages/bvi/readme.mdx
Labels: documentation 📖, content 🖋️

fix: remove test
  pages/bvi/readme.mdx
Labels: documentation 📖

fix: add ignore yarn.lock
  .gitignore
Labels: none

fix: build error
  components/GenericMethod/params/RequestResponseJSON.tsx
  components/GenericMethod/snippets/RequestSnippet.tsx
  package.json
  yarn.lock
Labels: dependencies 📦, content 🖋️

fix: add test code
  pages/bvi/readme.mdx
Labels: documentation 📖

Delete yarn.lock
  yarn.lock
Labels: none

Update dependencies
  package-lock.json
  package.json
Labels: dependencies 📦

fix: update node version
  .github/workflows/crowdin-ci.yml
Labels: none

feat: update style
  styles/globals.css
Labels: none

fix: add build
  pages/bvi/readme.mdx
Labels: documentation 📖

fix: add gitignore
  .gitignore
Labels: none

Delete yarn.lock
  yarn.lock
Labels: none

fix: delete wrangler.toml
  .gitignore
  wrangler.toml
Labels: none

Add Blog July 2025
  pages/blog/monthly/july-2025.mdx
  public/blog/monthly/july_2025/ama.png
  public/blog/monthly/july_2025/anome.png
  public/blog/monthly/july_2025/banner.png
  public/blog/monthly/july_2025/data.png
Labels: documentation 📖, content 🖋️

feat: Develop the timeline page
  components/Changelog/Accordion.tsx
  components/Changelog/Timeline.module.css
  components/Changelog/Timeline.tsx
  components/Video.tsx
  pages/study/_meta.json
  pages/study/data/sequence.example.jsonc
  pages/study/data/sequence.json
  pages/study/sequence.mdx
Labels: documentation 📖, content 🖋️

Add Xone Roadmap
  pages/_meta.json
  pages/blog/monthly/july-2025.mdx
  pages/data/sequence.example.jsonc
  pages/roadmap.mdx
  pages/study/_meta.json
  pages/study/data/sequence.example.jsonc
  pages/study/data/sequence.json
  pages/study/sequence.mdx
  src/roadmap.json
Labels: documentation 📖, content 🖋️

Fix Blog July 2025
  pages/blog/monthly/july-2025.mdx
Labels: documentation 📖

docs: Updated contact us email and release update announcement, added Xone Garnts
  components/ContactInfo.tsx
  pages/blog/bulletin/update-contract.mdx
  pages/developers/guide.mdx
  pages/study/_meta.json
  pages/study/dapp.mdx
  pages/study/grants.mdx
  public/blog/bulletin/update_contract.png
  public/images/grants_banner.png
Labels: documentation 📖, content 🖋️

test
  .idea/.name
  README.md
Labels: documentation 📖

fix: add image zoom function
  components/ImageViewer/index.tsx
  pages/blog/bulletin/xone-faucet.mdx
  pages/blog/dynamic/xone-w2025.mdx
  pages/developers/faucets.mdx
  pages/developers/rpc.mdx
  pages/developers/standard/erc1155.mdx
  pages/developers/standard/erc20.mdx
  pages/developers/standard/erc721.mdx
  pages/study/block.mdx
  pages/study/donate/guide.mdx
  pages/study/media.mdx
  pages/study/nodes.mdx
  pages/study/release.mdx
  pages/study/wiki.mdx
  theme.config.tsx
  wrangler.toml
Labels: documentation 📖, config ⚙️, content 🖋️

fix: add image zoom function
  .gitignore
Labels: none
