Repository hello-xone/official_docs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📖, dependencies 📦, config ⚙️, content 🖋️

.github/labeler.yml:

"documentation 📖":
  - README.md
  - pages/**/*

"dependencies 📦":
  - package.json
  - pnpm-lock.yaml

"config ⚙️":
  - i18n.config.json
  - next.config.js
  - next-i18next.config,js
  - next-sitemap.config.js
  - tsconfig.json
  - postcss.config.js
  - .npmrc
  - tailwind.config.js
  - theme.config.tsx
  - tsconfig.json

"content 🖋️":
  - src/**/*
  - components/**/*
  - public/**/*

change default directory
  pages/developers/operators/start/quick-start.mdx
Labels: documentation 📖

fix: seo
  package-lock.json
  package.json
  pages/_app.tsx
  scripts/add-xone-links.js
  scripts/update-seo.js
  theme.config.tsx
Labels: documentation 📖, dependencies 📦, config ⚙️

Update Disk Requirement
  components/NodeOperatore.tsx
Labels: content 🖋️

Update quick-start.mdx: remove log
  pages/developers/operators/start/quick-start.mdx
Labels: documentation 📖

Update quick-start.mdx: download latest binary
  pages/developers/operators/start/quick-start.mdx
Labels: documentation 📖

Update docker-run.mdx: get version from remote
  pages/developers/operators/start/docker-run.mdx
Labels: documentation 📖

Update using-snapshots.mdx: keywords mainnet
  pages/developers/operators/start/using-snapshots.mdx
Labels: documentation 📖

Update using-snapshots.mdx: get snapshot date from remote
  pages/developers/operators/start/using-snapshots.mdx
Labels: documentation 📖

Update using-snapshots.mdx: testnet
  pages/developers/operators/start/using-snapshots.mdx
Labels: documentation 📖

Update using-snapshots.mdx: add stop service
  pages/developers/operators/start/using-snapshots.mdx
Labels: documentation 📖

Update using-snapshots.mdx: remove stop service
  pages/developers/operators/start/using-snapshots.mdx
Labels: documentation 📖

Update practices.mdx: keep systemd service name to xone-node
  pages/developers/operators/practices.mdx
Labels: documentation 📖

Update NodeOperatore.tsx
  components/NodeOperatore.tsx
Labels: content 🖋️

fix: rpc fix
  components/NetworkTable.tsx
  pages/developers/operators/practices.mdx
  pages/openapi/overview.mdx
Labels: documentation 📖, content 🖋️

fix: seo
  components/ContactInfo.tsx
  components/Footer/Footer.tsx
  components/Footer/FooterLinks.tsx
  components/Guides/index.tsx
  scripts/add-xone-links.js
  scripts/update-seo.js
Labels: content 🖋️

fix: study injector xone link
  components/StudyLinkInjector.tsx
  pages/_app.tsx
Labels: documentation 📖, content 🖋️

fix: seo
  components/StudyLinkInjector.tsx
  scripts/add-xone-links.js
Labels: content 🖋️

Update quick-start.mdx
  pages/developers/operators/start/quick-start.mdx
Labels: documentation 📖

Update quick-start.mdx
  pages/developers/operators/start/quick-start.mdx
Labels: documentation 📖

Update quick-start.mdx
  pages/developers/operators/start/quick-start.mdx
Labels: documentation 📖

fix: Update DC Link
  lib/external.ts
Labels: none

Update: Add Early Unlock Docs
  pages/study/_meta.json
  pages/study/bug.mdx
  pages/study/early_unlock.mdx
  pages/study/nodes.mdx
  pages/study/service.mdx
  pages/study/wiki.mdx
  public/images/Waiver_Confirm_Transaction.png
  public/images/Waiver_Preview.png
  public/images/Waiver_Receipt.png
Labels: documentation 📖, content 🖋️

fix: dev test
  package.json
Labels: dependencies 📦

fix: dev test
  package.json
  pages/study/bug.mdx
  pages/study/early_unlock.mdx
  pages/study/nodes.mdx
  pages/study/service.mdx
Labels: documentation 📖, dependencies 📦

fix: Update Status
  styles/globals.css
Labels: none

Update: Add Waiver Operation Video
  pages/study/early_unlock.mdx
Labels: documentation 📖

✨ feat: add particles background and fix bug
  components/Footer/Footer.tsx
  components/PixelBlastBackground.module.css
  components/PixelBlastBackground.tsx
  components/gatewayAPI.tsx
  theme.config.tsx
Labels: config ⚙️, content 🖋️

✨ feat: add emaiInput
  components/Footer/Footer.tsx
  theme.config.tsx
Labels: config ⚙️, content 🖋️

✨ feat:
  components/AgentButton.tsx
  components/Footer/Footer.tsx
  components/LanguageSwitcher.tsx
  global.d.ts
  i18n/index.ts
  locales/en/common.json
  locales/zh/common.json
  next.config.js
  package.json
  pages/_app.tsx
  pages/_meta.en.json
  pages/_meta.zh.json
  pnpm-lock.yaml
Labels: documentation 📖, dependencies 📦, config ⚙️, content 🖋️

✨ feat: add lang
  components/Footer/Footer.tsx
  components/Footer/FooterLinks.tsx
  components/Hero.tsx
  lib/links.ts
  locales/en/common.json
  locales/zh/common.json
Labels: content 🖋️

Update: Add Solidityscan Docs
  README.md
  pages/developers/_meta.json
  pages/developers/guide.mdx
  pages/developers/ready.mdx
  pages/developers/tools/_meta.json
  pages/developers/tools/overview.mdx
  pages/developers/tools/safety/_meta.json
  pages/developers/tools/safety/solidityscan.mdx
  pages/study/bug.mdx
  pages/study/contribut.mdx
  pages/study/nodes.mdx
  pages/study/service.mdx
  pages/study/wiki.mdx
  styles/globals.css
Labels: documentation 📖

Update: Add Solidityscan Docs
  README.md
  pages/developers/_meta.json
  pages/developers/guide.mdx
  pages/developers/ready.mdx
  pages/developers/tools/_meta.json
  pages/developers/tools/overview.mdx
  pages/developers/tools/safety/_meta.json
  pages/developers/tools/safety/solidityscan.mdx
  pages/study/bug.mdx
  pages/study/contribut.mdx
  pages/study/nodes.mdx
  pages/study/service.mdx
  pages/study/wiki.mdx
  styles/globals.css
Labels: documentation 📖

🐞 fix: add optimization
  components/Footer/Footer.tsx
  components/NavLogo.tsx
  components/gatewayAPI.tsx
  lib/links.ts
  locales/en/common.json
  locales/zh/common.json
Labels: content 🖋️

feat: add language components
  components/Hero.tsx
  components/LangLink.tsx
  components/LanguageSwitcher.tsx
  i18n/index.ts
  pages/bvi/en/identity.mdx
  pages/bvi/en/readme.mdx
  pages/bvi/en/season.mdx
  pages/bvi/zh/identity.mdx
  pages/bvi/zh/readme.mdx
  pages/bvi/zh/season.mdx
  pages/study/en/account.mdx
  pages/study/en/audit.mdx
  pages/study/en/block.mdx
  pages/study/en/bug.mdx
  pages/study/en/candidate_statement.mdx
  pages/study/en/contribut.mdx
  pages/study/en/cookie.mdx
  pages/study/en/dapp.mdx
  pages/study/en/disclaimer.mdx
  pages/study/en/epoch.mdx
  pages/study/en/gas.mdx
  pages/study/en/grant_terms.mdx
  pages/study/en/grants.mdx
  pages/study/en/media.mdx
  pages/study/en/modules.mdx
  pages/study/en/nodes.mdx
  pages/study/en/privacy.mdx
  pages/study/en/release.mdx
  pages/study/en/service.mdx
  pages/study/en/transaction.mdx
  pages/study/en/wiki.mdx
  pages/study/en/xoc.mdx
  pages/study/en/xone.mdx
  public/bg.png
Labels: documentation 📖, content 🖋️

feat: add Multilingual
  pages/bvi/en/identity.mdx
  pages/bvi/en/readme.mdx
  pages/bvi/identity/_meta.json
  pages/bvi/identity/en/_meta.json
  pages/bvi/identity/en/individual.mdx
  pages/bvi/identity/en/organize.mdx
  pages/bvi/identity/en/project.mdx
  pages/bvi/identity/individual.mdx
  pages/bvi/identity/organize.mdx
  pages/bvi/identity/project.mdx
  pages/bvi/zh/identity.mdx
  pages/bvi/zh/readme.mdx
  pages/bvi/zh/season.mdx
  pages/study/en/audit.mdx
  pages/study/en/cookie.mdx
  pages/study/en/dapp.mdx
  pages/study/en/epoch.mdx
  pages/study/en/privacy.mdx
  pages/study/en/release.mdx
  pages/study/en/service.mdx
  pages/study/en/transaction.mdx
Labels: documentation 📖

feat：add Multilingual translation
  pages/bvi/identity.mdx
  pages/bvi/readme.mdx
  pages/bvi/season.mdx
  pages/bvi/zh/identity.mdx
  pages/developers/en/explorers.mdx
Labels: documentation 📖

feat：add Multilingual translation
  pages/study/en/audit.mdx
  pages/study/en/cookie.mdx
  pages/study/en/dapp.mdx
  pages/study/en/service.mdx
Labels: documentation 📖

fix: Update DC Link
  README.md
  lib/external.ts
  pages/developers/guide.mdx
  pages/developers/ready.mdx
  pages/developers/tools/overview.mdx
  pages/study/contribut.mdx
Labels: documentation 📖

fix: build error
  pages/_app.tsx
Labels: documentation 📖

feat：add Multilingual translation
  pages/blog/research/zh/xone-xoc.mdx
  pages/developers/zh/explorers.mdx
  pages/study/zh/service.mdx
Labels: documentation 📖
