Repository hello-xone/official_docs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📖, dependencies 📦, config ⚙️, content 🖋️

.github/labeler.yml:

"documentation 📖":
  - README.md
  - pages/**/*

"dependencies 📦":
  - package.json
  - pnpm-lock.yaml

"config ⚙️":
  - i18n.config.json
  - next.config.js
  - next-i18next.config,js
  - next-sitemap.config.js
  - tsconfig.json
  - postcss.config.js
  - .npmrc
  - tailwind.config.js
  - theme.config.tsx
  - tsconfig.json

"content 🖋️":
  - src/**/*
  - components/**/*
  - public/**/*

feat：add Multilingual translation
  components/BlogIndex.tsx
  components/Footer/Footer.tsx
  components/LangLink.tsx
  components/LanguageSwitcher.tsx
  components/PixelBlastBackground.tsx
  lib/all-blogs.ts
  locales/en/common.json
  locales/zh/common.json
  next.config.js
  pages/_meta.en.json
  pages/_meta.json
  pages/_meta.zh.json
  pages/bvi/identity.mdx
  pages/bvi/identity/zh/_meta.json
  pages/bvi/identity/zh/individual.mdx
  pages/bvi/identity/zh/organize.mdx
  pages/bvi/identity/zh/project.mdx
  pages/bvi/readme.mdx
  pages/bvi/season.mdx
  src/next-seo.config.ts
  styles/globals.css
  theme.config.tsx
Labels: documentation 📖, config ⚙️, content 🖋️

feat：add Multilingual translation
  next.config.js
  pages/bvi/en/_meta.json
  pages/bvi/zh/_meta.json
  pages/study/_meta.en.json
  pages/study/_meta.zh.json
  src/next-seo.config.ts
Labels: documentation 📖, config ⚙️, content 🖋️

fix: EAS Create an Attestation
  pages/developers/tools/attest/eas.mdx
Labels: documentation 📖

feat：add Multilingual translation
  pages/bvi/_meta.en.json
  pages/bvi/_meta.zh.json
  pages/study/en/_meta.json
  pages/study/zh/_meta.json
  theme.config.tsx
Labels: documentation 📖, config ⚙️

feat：add Multilingual translation
  pages/_meta.en.json
  pages/developers/en/_meta.json
  pages/developers/en/architecture/account.mdx
  pages/developers/en/architecture/replay.mdx
  pages/developers/en/architecture/transaction.mdx
  pages/developers/en/operators/monitoring.mdx
  pages/developers/en/operators/practices.mdx
  pages/developers/en/operators/start/en/background-operation.mdx
  pages/developers/en/operators/start/en/docker-run.mdx
  pages/developers/en/operators/start/en/quick-start.mdx
  pages/developers/en/standard/erc1155.mdx
  pages/developers/en/standard/erc20.mdx
  pages/developers/en/standard/erc721.mdx
  pages/developers/en/tools/overview.mdx
  pages/developers/en/tools/safety/solidityscan.mdx
  pages/developers/zh/_meta.json
  pages/developers/zh/architecture/_meta.json
  pages/developers/zh/architecture/account.mdx
  pages/developers/zh/architecture/replay.mdx
  pages/developers/zh/architecture/transaction.mdx
  pages/developers/zh/operators/_meta.json
  pages/developers/zh/operators/monitoring.mdx
  pages/developers/zh/operators/practices.mdx
  pages/developers/zh/operators/start/_meta.json
  pages/developers/zh/operators/start/background-operation.mdx
  pages/developers/zh/operators/start/docker-run.mdx
  pages/developers/zh/operators/start/quick-start.mdx
  pages/developers/zh/operators/start/using-snapshots.mdx
  pages/developers/zh/standard/_meta.json
  pages/developers/zh/standard/erc1155.mdx
  pages/developers/zh/standard/erc20.mdx
  pages/developers/zh/standard/erc721.mdx
  pages/developers/zh/tools/_meta.json
  pages/developers/zh/tools/overview.mdx
  pages/developers/zh/tools/safety/_meta.json
  pages/developers/zh/tools/safety/solidityscan.mdx
Labels: documentation 📖

feat：add Multilingual translation
  next.config.js
Labels: config ⚙️

feat：add Multilingual translation
  next.config.js
  pages/blog/en/monthly/april-2025.mdx
  pages/blog/en/monthly/july-2025.mdx
  pages/blog/en/monthly/june-2025.mdx
  pages/blog/en/monthly/may-2025.mdx
  pages/blog/zh/monthly/april-2025.mdx
  pages/blog/zh/monthly/july-2025.mdx
  pages/blog/zh/monthly/june-2025.mdx
  pages/blog/zh/monthly/may-2025.mdx
Labels: documentation 📖, config ⚙️

feat：add Multilingual translation
  next.config.js
Labels: config ⚙️

feat：add Multilingual translation
  next.config.js
Labels: config ⚙️

feat：add Multilingual translation
  theme.config.tsx
Labels: config ⚙️

feat：add Multilingual translation
  next.config.js
Labels: config ⚙️

feat：add Multilingual translation
  pages/_meta.zh.json
Labels: documentation 📖

feat：add Multilingual translation
  components/Footer/FooterLinks.tsx
  locales/en/common.json
  locales/zh/common.json
Labels: content 🖋️

feat：add the first time was in English
  components/LanguageSwitcher.tsx
  i18n/index.ts
  next.config.js
  pages/_app.tsx
Labels: documentation 📖, config ⚙️, content 🖋️

feat：add Multilingual translation
  next.config.js
Labels: config ⚙️
