Repository hello-xone/official_docs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📖, dependencies 📦, config ⚙️, content 🖋️

.github/labeler.yml:

"documentation 📖":
  - README.md
  - pages/**/*

"dependencies 📦":
  - package.json
  - pnpm-lock.yaml

"config ⚙️":
  - i18n.config.json
  - next.config.js
  - next-i18next.config,js
  - next-sitemap.config.js
  - tsconfig.json
  - postcss.config.js
  - .npmrc
  - tailwind.config.js
  - theme.config.tsx
  - tsconfig.json

"content 🖋️":
  - src/**/*
  - components/**/*
  - public/**/*

fix: merge jay-dev
  wrangler.toml
Labels: none

feat: optimization function
  components/HeaderLogo.tsx
  pages/_meta.json
  styles/globals.css
Labels: documentation 📖, content 🖋️

fix: Replace image name spaces
  components/ImageViewer/index.tsx
  pages/developers/faucets.mdx
  pages/developers/rpc.mdx
  pages/study/donate/guide.mdx
  pages/study/nodes.mdx
  pages/study/wiki.mdx
  public/images/Huione_Donation.png
  public/images/Huione_Donation_Payment.png
  public/images/Huione_Pay.png
  public/images/Successfully_received.png
  public/images/Swap_USDH.png
  public/images/USDH_Feedback_Loop.png
  public/images/Xone_Chain_Nodes.png
  public/images/metaMask_add_network.png
  public/images/technical_architecture.png
Labels: documentation 📖, content 🖋️

fix: Changed the move menu highlight
  components/SidebarDevelopersHide.tsx
  next.config.js
  pages/_app.tsx
  pages/_meta.json
  styles/globals.css
Labels: documentation 📖, config ⚙️, content 🖋️

fix: dark green tag
  styles/globals.css
Labels: none

feat: blog mobile load
  components/BlogIndex.tsx
  components/blog/blog-card-list.tsx
  components/hooks/useIsMobile.ts
  lib/all-blogs.ts
  pages/blog.mdx
  pages/blog_ssg.ts
  styles/globals.css
Labels: documentation 📖, content 🖋️

fix: quote
  components/blog/bottom-content.tsx
  pages/blog_ssg.ts
Labels: documentation 📖, content 🖋️

build: Delete wrangler.toml
  wrangler.toml
Labels: none

feat: Updated node deployment docs and add Footer and AI assistant.
  components/AgentButton.tsx
  components/Footer/Footer.tsx
  components/Footer/FooterLinks.tsx
  components/HeaderLogo.tsx
  components/Hero.tsx
  components/NavLogo.tsx
  components/hooks/useIsDarkMode.ts
  components/icons/X.svg
  components/icons/chatme.svg
  components/icons/discord.svg
  components/icons/github.svg
  components/icons/index.ts
  components/icons/medium.svg
  components/icons/reddit.svg
  components/icons/telegram.svg
  components/icons/youtobe.svg
  lib/external.ts
  lib/links.ts
  pages/_meta.json
  pages/developers/_meta.json
  pages/developers/operators/_meta.json
  pages/developers/operators/monitoring.mdx
  styles/globals.css
  tailwind.config.js
  theme.config.tsx
Labels: documentation 📖, config ⚙️, content 🖋️

Create wrangler.toml
  wrangler.toml
Labels: none

Create deploy.yml
  .github/workflows/.github/workflows/deploy.yml
Labels: none

Delete .github/workflows/.github directory
  .github/workflows/.github/workflows/deploy.yml
Labels: none

Create deploy.yml
  .github/workflows/deploy.yml
Labels: none

Create wrangler.toml
  wrangler.toml
Labels: none

Create deploy.yml
  .github/workflows/deploy.yml
Labels: none

Create security-review.yml
  .github/workflows/security-review.yml
Labels: none

uptodate: Add Xone Weekly Report August 4 week
  .github/workflows/generate-review-report.yml
  .github/workflows/get-crowdin-contributors.yml
  .github/workflows/get-translation-progress.yml
  .github/workflows/import-community-events.yml
  .github/workflows/lighthouse-ci.yml
  .github/workflows/update-chains.yml
  components/blog/article.tsx
  package.json
  pages/blog/weekly/08-25-2025.mdx
Labels: documentation 📖, dependencies 📦, content 🖋️

build: Delete wrangler.toml
  wrangler.toml
Labels: none

ci: Add branch update notification
  .github/workflows/notify-merged.yml
Labels: none

Create wrangler.toml
  wrangler.toml
Labels: none

Update security-review.yml
  .github/workflows/security-review.yml
Labels: none

uptodate: Update contribution doc
  README.md
  components/ContactInfo.tsx
  components/hooks/useIsDarkMode.ts
  pages/developers/guide.mdx
  pages/developers/ready.mdx
  pages/developers/tools.mdx
  pages/study/contribut.mdx
Labels: documentation 📖, content 🖋️

uptodate: Update contribution doc
  wrangler.toml
Labels: none

uptodate: Update contribution doc
  wrangler.toml
Labels: none

Update chromatic.yml
  .github/workflows/chromatic.yml
Labels: none

Update crowdin-ci.yml
  .github/workflows/crowdin-ci.yml
Labels: none

Update deploy.yml
  .github/workflows/deploy.yml
Labels: none

Update get-crowdin-contributors.yml
  .github/workflows/get-crowdin-contributors.yml
Labels: none

Update get-leaderboard-reports.yml
  .github/workflows/get-leaderboard-reports.yml
Labels: none

Update notify-merged.yml
  .github/workflows/notify-merged.yml
Labels: none

Update security-review.yml
  .github/workflows/security-review.yml
Labels: none

docs: typo fix
  README.md
Labels: documentation 📖

chore(ci): upgrade checkout to v5 (#19)
  .github/workflows/chromatic.yml
  .github/workflows/crowdin-ci.yml
  .github/workflows/deploy.yml
  .github/workflows/get-crowdin-contributors.yml
  .github/workflows/get-leaderboard-reports.yml
  .github/workflows/notify-merged.yml
  .github/workflows/security-review.yml
Labels: none

docs: split merged list items
  pages/study/contribut.mdx
Labels: documentation 📖

fix: The logo text color is displayed incorrectly in light mode
  .gitignore
  components/NavLogo.tsx
Labels: content 🖋️

chore: Branch configuration adjustment
  wrangler.toml
Labels: none

chore(ci): Delete the .idea file and adjust the workflow configuration
  .github/workflows/notify-merged.yml
  .idea/.gitignore
  .idea/.name
  .idea/docs.iml
  .idea/easycode.ignore
  .idea/modules.xml
  .idea/vcs.xml
Labels: none

chore(ci): Delete the .idea file and adjust the workflow configuration
  wrangler.toml
Labels: none

uptodate: Add weekly report for the fourth week of August
  pages/blog/weekly/08-25-2025.mdx
  pages/blog/weekly/09-01-2025.mdx
  wrangler.toml
Labels: documentation 📖

fix: Update date issue
  pages/blog/weekly/09-01-2025.mdx
Labels: documentation 📖
