Repository hello-xone/official_docs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📖, dependencies 📦, config ⚙️, content 🖋️

.github/labeler.yml:

"documentation 📖":
  - README.md
  - pages/**/*

"dependencies 📦":
  - package.json
  - pnpm-lock.yaml

"config ⚙️":
  - i18n.config.json
  - next.config.js
  - next-i18next.config,js
  - next-sitemap.config.js
  - tsconfig.json
  - postcss.config.js
  - .npmrc
  - tailwind.config.js
  - theme.config.tsx
  - tsconfig.json

"content 🖋️":
  - src/**/*
  - components/**/*
  - public/**/*

Update docs link
  package.json
  pages/developers/guide.mdx
  pages/developers/ready.mdx
  pages/developers/standard/erc1155.mdx
  pages/developers/standard/erc721.mdx
  pages/study/contribut.mdx
  pages/study/dapp.mdx
  theme.config.tsx
Labels: documentation 📖, dependencies 📦, config ⚙️

add readme stats
  README.md
Labels: documentation 📖

Add RPC wss link
  .idea/.gitignore
  .idea/docs.iml
  .idea/easycode.ignore
  .idea/modules.xml
  .idea/vcs.xml
  components/NetworkTable.tsx
  pages/developers/json.mdx
  pages/developers/ready.mdx
  pages/developers/rpc.mdx
Labels: documentation 📖, content 🖋️

fix
  README.md
Labels: documentation 📖

Fix .npmrc registry
  .npmrc
Labels: config ⚙️

Update NetworkTable.tsx
  components/NetworkTable.tsx
Labels: content 🖋️

Update NetworkTable.tsx
  components/NetworkTable.tsx
Labels: content 🖋️

Update NetworkTable.tsx
  components/NetworkTable.tsx
Labels: content 🖋️

Add RPC Endpoints
  components/NetworkListed.tsx
  components/NetworkTable.tsx
  pages/developers/rpc.mdx
  pnpm-lock.yaml
Labels: documentation 📖, dependencies 📦, content 🖋️

Add Xone Token and contracts info
  components/MajoContractsList.tsx
  components/ValidationTokenList.tsx
  pages/developers/_meta.json
  pages/developers/contracts.mdx
  pages/developers/token.mdx
Labels: documentation 📖, content 🖋️

Update Browser Links and Verified Bridge Tokens
  .npmrc
  components/CopyToClipboard.tsx
  components/MajoContractsList.tsx
  components/NetworkTable.tsx
  components/ValidationTokenList.tsx
  components/addNetwork.tsx
  components/providers.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/developers/_meta.json
  pages/developers/explorers.mdx
  pages/developers/guide.mdx
  pages/developers/ready.mdx
  pages/developers/standard/erc1155.mdx
  pages/developers/standard/erc20.mdx
  pages/developers/standard/erc721.mdx
  pages/developers/testnet.mdx
  pages/developers/token.mdx
  pages/study/epoch.mdx
  pnpm-lock.yaml
  public/network/bsc.svg
  public/network/ethereum.svg
  public/network/tron.svg
  public/network/xone.svg
  public/tokenMetadata.json
  public/tokenlogo/bnb.png
  public/tokenlogo/eth.png
  public/tokenlogo/trx.png
  public/tokenlogo/usdh.png
  public/tokenlogo/xoc.png
  tailwind.config.js
Labels: documentation 📖, dependencies 📦, config ⚙️, content 🖋️

#
  components/ValidationTokenList.tsx
  public/tokenMetadata.json
Labels: content 🖋️

updetad bridge token
  pages/developers/standard/erc721.mdx
  public/tokenMetadata.json
  public/tokenlogo/usdt.png
  theme.config.tsx
Labels: documentation 📖, config ⚙️, content 🖋️

add Mainnet Contracts List
  components/MajoContractsList.tsx
  components/MajoContractsList/BSCList.tsx
  components/MajoContractsList/EthereumList.tsx
  components/MajoContractsList/TronList.tsx
  components/MajoContractsList/XoneList.tsx
  pages/developers/contracts.mdx
  public/tokenMetadata.json
Labels: documentation 📖, content 🖋️

Update SwapX contract information
  components/MajoContractsList/XoneList.tsx
Labels: content 🖋️

Update info
  components/MajoContractsList/XoneList.tsx
  public/tokenMetadata.json
Labels: content 🖋️

Add Xone Node Operators Docs
  components/NodeOperatore.tsx
  pages/developers/_meta.json
  pages/developers/operators/_meta.json
  pages/developers/operators/monitoring.mdx
  pages/developers/operators/practices.mdx
  pages/developers/operators/start/_meta.json
  pages/developers/operators/start/background-operation.mdx
  pages/developers/operators/start/docker-run.mdx
  pages/developers/operators/start/quick-start.mdx
  pages/developers/operators/start/using-snapshots.mdx
Labels: documentation 📖, content 🖋️

Update MajoContractsList info
  components/MajoContractsList/BSCList.tsx
  components/MajoContractsList/EthereumList.tsx
  components/MajoContractsList/XoneList.tsx
Labels: content 🖋️

fix
  SiteMap.ts
  components/GenericMethod/getStarted/GetStarted.module.css
  components/GenericMethod/getStarted/GetStarted.tsx
  components/GenericMethod/params/RequestResponseJSON.tsx
  package.json
  pages/openapi/accountinfo.mdx
  pages/openapi/blocksinfo.mdx
  pages/openapi/chaininfo.mdx
  pages/openapi/debugandtrace.mdx
  pages/openapi/eventlogs.mdx
  pages/openapi/executingtransactions.mdx
  pages/openapi/gasestimation.mdx
  pages/openapi/gettinguncles.mdx
  pages/openapi/mining.mdx
  pages/openapi/subscriptions.mdx
  pages/openapi/transactionsinfo.mdx
  pages/openapi/web3.mdx
  pnpm-lock.yaml
  tsconfig.json
Labels: documentation 📖, dependencies 📦, config ⚙️, content 🖋️

Update index page
  components/Blur/index.tsx
  components/Guides/index.tsx
  components/HeaderLogo.tsx
  components/Hero.tsx
  components/LogosMarquee/index.tsx
  components/LogosMarquee/logo.tsx
  components/XoneLogo.tsx
  components/animatedStars.module.css
  components/hooks/useIsDarkMode.ts
  components/typewriter/TypingEffect.module.css
  components/typewriter/typewriter.tsx
  pages/_meta.json
  pages/developers/_meta.json
  pages/openapi.mdx
  src/manifest.json
  styles/globals.css
  tailwind.config.js
  theme.config.tsx
Labels: documentation 📖, config ⚙️, content 🖋️

Fix
  pages/openapi.mdx
Labels: documentation 📖

Fix
  components/JsonRPCErrorCode.tsx
  pages/_meta.json
  pages/developers/_meta.json
  pages/openapi/overview.mdx
Labels: documentation 📖, content 🖋️

Update Blog
  components/ContactInfo.tsx
  components/Hero.tsx
  components/JsonRPCErrorCode.tsx
  components/blog/FeatureCards.tsx
  pages/blog/monthly/april-2025.mdx
  pages/blog/monthly/data/202504.json
  public/blog/monthly/april_2025/banner.png
  public/blog/monthly/april_2025/blog.png
  public/blog/monthly/april_2025/bviclient.png
  public/blog/monthly/april_2025/contract.png
  public/blog/monthly/april_2025/faucet.png
  public/blog/monthly/april_2025/githuborg.png
  public/blog/monthly/april_2025/performance.png
  public/blog/monthly/april_2025/rainlink.png
  public/blog/monthly/april_2025/scandata.png
  public/blog/monthly/april_2025/settlement.png
  public/blog/monthly/april_2025/swap.png
  public/blog/monthly/april_2025/tokenup.png
  public/blog/monthly/april_2025/website.png
  public/blog/monthly/april_2025/xonescanapi.png
Labels: documentation 📖, content 🖋️

Fix
  pages/blog/monthly/data/202504.json
Labels: documentation 📖

Add BVI Docs
  next.config.js
  pages/_meta.json
  pages/blog/monthly/april-2025.mdx
  pages/bvi/_meta.json
  pages/bvi/identity.mdx
  pages/bvi/identity/_meta.json
  pages/bvi/identity/individual.mdx
  pages/bvi/identity/organize.mdx
  pages/bvi/identity/project.mdx
  pages/bvi/readme.mdx
  pages/bvi/season.mdx
  pages/study/xoc.mdx
  public/images/Gameplay.png
  public/images/Tokenomics.png
  public/images/banner.png
  public/images/relationship.png
  public/images/system.png
  public/tokenMetadata.json
Labels: documentation 📖, config ⚙️, content 🖋️

Fix MajoContractsList
  components/MajoContractsList/XoneList.tsx
Labels: content 🖋️

Update release docs
  pages/study/release.mdx
  public/images/Release_Connect_Wallet.png
  public/images/Release_Send_WXOC.png
  public/images/Release_main.png
Labels: documentation 📖, content 🖋️

Update Announcement
  components/gatewayAPI.tsx
  package.json
  pages/_meta.json
  pages/blog/bulletin/hard-fork.mdx
  pages/blog/monthly/data/202504.json
  pages/study/epoch.mdx
  pnpm-lock.yaml
  public/blog/bulletin/hard_fork_banner.png
  public/gateway.yaml
Labels: documentation 📖, dependencies 📦, content 🖋️

Update Xone Gateway API Docs
  components/gatewayAPI.tsx
  pages/_meta.json
  pages/gateway.mdx
  pages/study/epoch.mdx
  public/gateway.yaml
  styles/globals.css
Labels: documentation 📖, content 🖋️

Create wrangler.toml
  wrangler.toml
Labels: none

Add June-2025
  components/gatewayAPI.tsx
  pages/blog/monthly/data/202505.json
  pages/blog/monthly/june-2025.mdx
  public/blog/monthly/june_2025/banner.png
  public/blog/monthly/june_2025/developer.png
  public/blog/monthly/june_2025/faucet.png
  public/blog/monthly/june_2025/hard.png
  public/blog/monthly/june_2025/introduction.png
  public/blog/monthly/june_2025/nft.png
  public/blog/monthly/june_2025/nft_info.png
  public/gateway.yaml
Labels: documentation 📖, content 🖋️

Update Blog
  components/MajoContractsList/XoneList.tsx
  pages/blog/bulletin/update-release.mdx
  public/blog/bulletin/update_release.png
Labels: documentation 📖, content 🖋️

Fix
  wrangler.toml
Labels: none

Fix
  pages/blog/bulletin/update-release.mdx
Labels: documentation 📖

Fix
  package.json
  pages/blog/bulletin/update-release.mdx
  pnpm-lock.yaml
Labels: documentation 📖, dependencies 📦

Update package
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦

Fix
  package.json
Labels: dependencies 📦

Update Dependencies
  pnpm-lock.yaml
Labels: dependencies 📦

Fix
  .npmrc
Labels: config ⚙️

Update Release Docs
  components/Hero.tsx
  components/Video.tsx
  pages/study/release.mdx
Labels: documentation 📖, content 🖋️
