Repository hello-xone/official_docs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📖, dependencies 📦, config ⚙️, content 🖋️

uptodate: Add weekly report for the fourth week of August
  wrangler.toml
Labels: none

docs: fix stray quote before "XOC"
  pages/bvi/readme.mdx
Labels: documentation 📖

docs: fix typo in name from "Torn" to "Tron"
  pages/study/donate/guide/usdh.mdx
Labels: documentation 📖

uptodate: Add the first week of September
  pages/blog/weekly/09-08-2025.mdx
  wrangler.toml
Labels: documentation 📖

uptodate: Add the first week of September
  wrangler.toml
Labels: none

uptodate: Add August 2025
  pages/blog/monthly/august-2025.mdx
  public/blog/monthly/august-2025/banner.png
  wrangler.toml
Labels: documentation 📖, content 🖋️

Merge branch 'dev'
  wrangler.toml
Labels: none

uptodate: Add weekly report for the second week of September
  pages/blog/weekly/09-15-2025.mdx
  wrangler.toml
Labels: documentation 📖

fix: Add Forum links
  lib/links.ts
  pages/_meta.json
Labels: documentation 📖

Update security-review.yml
  .github/workflows/security-review.yml
Labels: none

Update security-review.yml
  .github/workflows/security-review.yml
Labels: none

Update security-review.yml
  .github/workflows/security-review.yml
Labels: none

Update security-review.yml
  .github/workflows/security-review.yml
Labels: none

Update security-review.yml
  .github/workflows/security-review.yml
Labels: none

Update security-review.yml
  .github/workflows/security-review.yml
Labels: none

Update security-review.yml
  .github/workflows/security-review.yml
Labels: none

Update security-review.yml
  .github/workflows/security-review.yml
Labels: none

docs: fix typo in Ethereum section
  pages/study/xone.mdx
Labels: documentation 📖

Update: Add Global PR and Compliance Notices
  components/ContactInfo.tsx
  pages/blog/bulletin/compliance.mdx
  public/blog/bulletin/compliance_notices_banner.png
Labels: documentation 📖, content 🖋️

chore(ci): Build Tests
  wrangler.toml
Labels: none

fix: Subject and compliance titles
  pages/blog/bulletin/compliance.mdx
  public/blog/bulletin/compliance_notices_banner.png
Labels: documentation 📖, content 🖋️

chore(ci): Build
  wrangler.toml
Labels: none

Update: Document Removal
  pages/study/_meta.json
  pages/study/donate.mdx
  pages/study/donate/_meta.json
  pages/study/donate/agreement.mdx
  pages/study/donate/disclaimer.mdx
  pages/study/donate/faq.mdx
  pages/study/donate/guide.mdx
  pages/study/donate/guide/_meta.json
  pages/study/donate/guide/usdh.mdx
  pages/study/donate/nft.mdx
  pages/study/donate/txoc.mdx
  styles/globals.css
Labels: documentation 📖

Update: Add Letter Sunflower and Fix Links
  README.md
  components/ContactInfo.tsx
  components/Footer/Footer.tsx
  components/icons/chatme.svg
  components/icons/coingecko.svg
  components/icons/discord.svg
  components/icons/github.svg
  components/icons/index.ts
  components/icons/medium.svg
  components/icons/reddit.svg
  components/icons/telegram.svg
  components/icons/twitterx.svg
  components/icons/youtobe.svg
  lib/external.ts
  lib/links.ts
  pages/blog/bulletin/compliance.mdx
  pages/blog/bulletin/letter.mdx
  pages/blog/bulletin/xone-update-url.mdx
  pages/study/media.mdx
Labels: documentation 📖, content 🖋️

chore(ci): Build Test
  wrangler.toml
Labels: none

fix: Module not found
  components/Footer/Footer.tsx
  components/icons/index.ts
Labels: content 🖋️

Update: Add Letters Chinese and Weekly
  pages/blog/bulletin/letter.mdx
  pages/blog/weekly/09-29-2025.mdx
Labels: documentation 📖

fix: Fixed format display issues
  pages/blog/bulletin/letter.mdx
  pages/blog/weekly/09-29-2025.mdx
Labels: documentation 📖

chore(ci): Build main
  wrangler.toml
Labels: none

update: Add Scan update docs
  components/blog/blog-card-list.tsx
  pages/blog/updates/08-25-2025.mdx
  wrangler.toml
Labels: documentation 📖, content 🖋️

fix: Naming issue fixed
  pages/blog/updates/10-01-2025.mdx
Labels: documentation 📖

fix: show tag articles
  .gitignore
Labels: none

chore(ci): Build main
  wrangler.toml
Labels: none

fix: fix pnpm lock
  pnpm-lock.yaml
Labels: dependencies 📦

fix: build error
  pages/blog/tag/[tag].mdx
Labels: documentation 📖

fix: show filter
  pages/blog/tag/[tag].mdx
Labels: documentation 📖

update: New Terms and Policies/Statements
  .github/workflows/deploy.yml
  components/ContactInfo.tsx
  pages/study/_meta.json
  pages/study/candidate_statement.mdx
  pages/study/cookie.mdx
  pages/study/disclaimer.mdx
  pages/study/grant_terms.mdx
  pages/study/privacy.mdx
  pages/study/service.mdx
  wrangler.toml
Labels: documentation 📖, content 🖋️

fix: security-review
  .github/workflows/security-review.yml
Labels: none

chore(ci): Add vercel deploy
  package-lock.json
  package.json
  pages/_app.tsx
Labels: documentation 📖, dependencies 📦

Update quick-start.mdx
  pages/developers/operators/start/quick-start.mdx
Labels: documentation 📖

.github/labeler.yml:

"documentation 📖":
  - README.md
  - pages/**/*

"dependencies 📦":
  - package.json
  - pnpm-lock.yaml

"config ⚙️":
  - i18n.config.json
  - next.config.js
  - next-i18next.config,js
  - next-sitemap.config.js
  - tsconfig.json
  - postcss.config.js
  - .npmrc
  - tailwind.config.js
  - theme.config.tsx
  - tsconfig.json

"content 🖋️":
  - src/**/*
  - components/**/*
  - public/**/*
