Repository hello-xone/official_docs, pull requests merged in 2025-08, with the labels that each got.

#3 Wesson dev
  components/ImageViewer/index.tsx
  components/XoneLogo.tsx
  components/gatewayAPI.tsx
  theme.config.tsx
  wrangler.toml
  yarn.lock
Labels: content 🖋️, config ⚙️

#11 Merge wesson-dev Adjust the theme style
  .gitignore
  components/GenericMethod/params/RequestResponseJSON.tsx
  components/gatewayAPI.tsx
  package-lock.json
  package.json
  styles/globals.css
  wrangler.toml
Labels: content 🖋️, dependencies 📦

#15 Fix Blog July 2025
  pages/blog/monthly/july-2025.mdx
Labels: documentation 📖

#19 chore(ci): upgrade checkout to v5
  .github/workflows/chromatic.yml
  .github/workflows/crowdin-ci.yml
  .github/workflows/deploy.yml
  .github/workflows/get-crowdin-contributors.yml
  .github/workflows/get-leaderboard-reports.yml
  .github/workflows/notify-merged.yml
  .github/workflows/security-review.yml
Labels: enhancement, config ⚙️

#20 docs: typo fix
  README.md
Labels: documentation 📖

#21 docs: split merged list items
  pages/study/contribut.mdx
Labels: documentation 📖
